body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.emoji {
    font-size: 5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.emoji:hover {
    transform: scale(1.1);
}

.links-hidden {
    display: none;
}

#links-container {
    display: none; /* Keep the links hidden initially */
    position: absolute;
    top: calc(65% + 20px); /* Adjust the space below the big poo emoji */
    left: 50%;
    transform: translateX(-50%); /* Center the container horizontally */
    display: flex;
    flex-direction: column; /* Stack the mini poos vertically */
    align-items: center; /* Center the mini poos horizontally within the container */
}


/* New class for making links visible */
.links-visible {
    display: flex;
}

.mini-poo {
    font-size: 2rem;
    animation: pop 0.3s ease;
}

@keyframes pop {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}
